.env
.admob-tokens.json

# Node
node_modules/

# Cloudflare Wrangler
.wrangler/

# Xcode user data
*.xcuserstate
xcuserdata/
frontend/imghost/design/
frontend/imghost/build/

# Build artifacts
/build/
frontend/imghost/*.zip
frontend/imghost/*.ipa
frontend/imghost/*.pkg
frontend/imghost/imghost.app/
frontend/imghost/build/
frontend/imghost/*.dSYM.zip
